/Black
/BlueOpal
/Bootstrap
/Default
/Flat
/HighContrast
/Metro
/MetroBlack
/Moonlight
/Silver
/Uniform
/images
/kendo.black.min.css
/kendo.blueopal.min.css
/kendo.blueopal.mobile.min.css
/kendo.bootstrap.min.css
/kendo.common.core.min.css
/kendo.common.min.css
/kendo.common-bootstrap.min.css
/kendo.default.min.css
/kendo.flat.min.css
/kendo.highcontrast.min.css
/kendo.metro.min.css
/kendo.metroblack.min.css
/kendo.moonlight.min.css
/kendo.rtl.min.css
/kendo.silver.min.css
/kendo.silver.mobile.min.css
/kendo.uniform.min.css
/kendo.uniform.mobile.min.css
/textures
