/angular.min.js
/jquery.min.js
/kendo.angular.min.js
/kendo.autocomplete.min.js
/kendo.binder.min.js
/kendo.button.min.js
/kendo.calendar.min.js
/kendo.colorpicker.min.js
/kendo.columnmenu.min.js
/kendo.combobox.min.js
/kendo.core.min.js
/kendo.data.min.js
/kendo.data.odata.min.js
/kendo.data.signalr.min.js
/kendo.data.xml.min.js
/kendo.datepicker.min.js
/kendo.datetimepicker.min.js
/kendo.draganddrop.min.js
/kendo.dropdownlist.min.js
/kendo.editable.min.js
/kendo.editor.min.js
/kendo.filtermenu.min.js
/kendo.fx.min.js
/kendo.grid.min.js
/kendo.groupable.min.js
/kendo.imagebrowser.min.js
/kendo.list.min.js
/kendo.listview.min.js
/kendo.maskedtextbox.min.js
/kendo.menu.min.js
/kendo.mobile.actionsheet.min.js
/kendo.mobile.application.min.js
/kendo.mobile.button.min.js
/kendo.mobile.buttongroup.min.js
/kendo.mobile.drawer.min.js
/kendo.mobile.listview.min.js
/kendo.mobile.loader.min.js
/kendo.mobile.modalview.min.js
/kendo.mobile.navbar.min.js
/kendo.mobile.pane.min.js
/kendo.mobile.popover.min.js
/kendo.mobile.scroller.min.js
/kendo.mobile.scrollview.min.js
/kendo.mobile.shim.min.js
/kendo.mobile.splitview.min.js
/kendo.mobile.switch.min.js
/kendo.mobile.tabstrip.min.js
/kendo.mobile.view.min.js
/kendo.multiselect.min.js
/kendo.notification.min.js
/kendo.numerictextbox.min.js
/kendo.pager.min.js
/kendo.panelbar.min.js
/kendo.popup.min.js
/kendo.progressbar.min.js
/kendo.reorderable.min.js
/kendo.resizable.min.js
/kendo.router.min.js
/kendo.scheduler.agendaview.min.js
/kendo.scheduler.dayview.min.js
/kendo.scheduler.min.js
/kendo.scheduler.monthview.min.js
/kendo.scheduler.recurrence.min.js
/kendo.scheduler.view.min.js
/kendo.selectable.min.js
/kendo.slider.min.js
/kendo.sortable.min.js
/kendo.splitter.min.js
/kendo.tabstrip.min.js
/kendo.timepicker.min.js
/kendo.timezones.min.js
/kendo.toolbar.min.js
/kendo.tooltip.min.js
/kendo.touch.min.js
/kendo.treeview.min.js
/kendo.ui.core.min.js
/kendo.upload.min.js
/kendo.userevents.min.js
/kendo.validator.min.js
/kendo.view.min.js
/kendo.web.min.js
/kendo.window.min.js
